In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("4-Algerian_forest_fires_dataset.csv")
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.1+ KB

In [4]:
df.isnull().sum()

day            1
month          2
year           2
Temperature    2
 RH            2
 Ws            2
Rain           2
FFMC           2
DMC            2
DC             2
ISI            2
BUI            2
FWI            2
Classes        3
dtype: int64

In [7]:
df[df.isnull().any(axis=1)]
df.drop(index=122,inplace=True)

In [8]:
df[df.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
123,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,14,7,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [9]:
df.loc[:123,"Region"]=0
df.loc[123:,"Region"]=1

In [10]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0.0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0.0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0.0
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0.0

In [11]:
df.tail()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
242,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,1.0
243,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1.0
244,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1.0
245,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1.0
246,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1.0

In [12]:
df= df.dropna().reset_index(drop=True)

In [15]:
df.iloc[(121)]

day                     30
month                    9
year                  2012
Temperature             25
 RH                     78
 Ws                     14
Rain                   1.4
FFMC                    45
DMC                    1.9
DC                     7.5
ISI                    0.2
BUI                    2.4
FWI                    0.1
Classes        not fire
Region                 0.0
Name: 121, dtype: object

In [16]:
df.iloc[(122)]

day                    day
month                month
year                  year
Temperature    Temperature
 RH                     RH
 Ws                     Ws
Rain                 Rain
FFMC                  FFMC
DMC                    DMC
DC                      DC
ISI                    ISI
BUI                    BUI
FWI                    FWI
Classes          Classes
Region                 1.0
Name: 122, dtype: object

# ðŸ“ Pandas `.loc` KullanÄ±m Rehberi (Label-Based Selection)

Pandas'ta `.loc` (Location), veriyi **Etiketlerine (Ä°simlerine)** gÃ¶re seÃ§mek iÃ§in kullanÄ±lÄ±r. Veri manipÃ¼lasyonunun Ä°sviÃ§re Ã‡akÄ±sÄ±dÄ±r.

> **Temel SÃ¶zdizimi:** `df.loc[ SATIR_SEÃ‡Ä°MÄ° , SÃœTUN_SEÃ‡Ä°MÄ° ]`

---

## 1. Temel SeÃ§im Ä°ÅŸlemleri (Selection)
Belirli satÄ±r ve sÃ¼tunlara **isimleriyle** eriÅŸmek iÃ§in kullanÄ±lÄ±r.

* **Tek Bir HÃ¼cre:**
    ```python
    # Ä°ndeksi '5' olan satÄ±rÄ±n, 'Temperature' sÃ¼tunundaki deÄŸeri
    deger = df.loc[5, 'Temperature']
    ```

* **Belirli SÃ¼tunlarÄ± SeÃ§me:**
    ```python
    # TÃ¼m satÄ±rlar (:), sadece 'Classes' ve 'FWI' sÃ¼tunlarÄ±
    subset = df.loc[:, ['Classes', 'FWI']]
    ```

---

## 2. Dilimleme (Slicing) - âš ï¸ Ã–nemli Fark!
Normal Python listelerinin aksine, `.loc` ile yapÄ±lan dilimlemede **BÄ°TÄ°Åž DEÄžERÄ° DAHÄ°LDÄ°R.**

* **SatÄ±r Dilimleme:**
    ```python
    # 0'dan 10'a kadar olan satÄ±rlarÄ± getir (10. SatÄ±r DAHÄ°L!)
    df.loc[0:10, :]
    ```

* **SÃ¼tun Dilimleme (Ä°simle):**
    ```python
    # 'Temperature' sÃ¼tunundan 'Rain' sÃ¼tununa kadar olan aralÄ±ÄŸÄ± getir
    df.loc[:, 'Temperature':'Rain']
    ```

---

## 3. Filtreleme (Boolean Indexing) - En GÃ¼Ã§lÃ¼ Ã–zellik ðŸ§ 
SQL'deki `WHERE` komutu gibi, veriyi belirli koÅŸullara gÃ¶re sÃ¼zer.

* **Tek KoÅŸul:**
    ```python
    # Sadece sÄ±caklÄ±ÄŸÄ±n 35'ten bÃ¼yÃ¼k olduÄŸu gÃ¼nleri getir
    sicak_gunler = df.loc[df['Temperature'] > 35]
    ```

* **Ã‡oklu KoÅŸul (VE / VEYA):**
    * `&` : VE (And)
    * `|` : VEYA (Or)
    ```python
    # SÄ±caklÄ±k 30'dan bÃ¼yÃ¼k VE Nem 50'den kÃ¼Ã§Ã¼kse (YangÄ±n Riski)
    riskli = df.loc[(df['Temperature'] > 30) & (df['RH'] < 50)]
    ```

* **String Arama:**
    ```python
    # Classes iÃ§inde 'fire' kelimesi geÃ§enleri bul
    yanginlar = df.loc[df['Classes'].str.contains('fire')]
    ```

---

## 4. DeÄŸer Atama ve DeÄŸiÅŸtirme (Setting Values) âœï¸
SeÃ§tiÄŸiniz veriyi deÄŸiÅŸtirmek iÃ§in kullanÄ±lÄ±r.

* **KoÅŸullu DeÄŸiÅŸiklik:**
    ```python
    # SÄ±caklÄ±ÄŸÄ± 40'tan bÃ¼yÃ¼k olan gÃ¼nlerin 'Risk_Level' sÃ¼tununu 'High' yap
    df.loc[df['Temperature'] > 40, 'Risk_Level'] = 'High'
    ```

* **Ã‡oklu Atama:**
    ```python
    # 122. satÄ±rdan sonraki tÃ¼m satÄ±rlarÄ±n 'Region' bilgisini 1 yap
    df.loc[122:, 'Region'] = 1
    ```

---

## 5. KarÅŸÄ±laÅŸtÄ±rma: `.loc` vs `.iloc`

| Ã–zellik | `.loc` (Location) | `.iloc` (Integer Location) |
| :--- | :--- | :--- |
| **MantÄ±k** | **Etiket (Ä°sim)** bazlÄ±dÄ±r. | **Ä°ndeks (SÄ±ra)** bazlÄ±dÄ±r. |
| **BitiÅŸ ElemanÄ±** | **Dahildir** (`0:5` -> 0,1,2,3,4,5). | **Dahil DeÄŸildir** (`0:5` -> 0,1,2,3,4). |
| **SÃ¼tun SeÃ§imi** | SÃ¼tun isimleri (`'Price'`) | SÃ¼tun numaralarÄ± (`3`) |
| **KullanÄ±m** | Analiz ve Filtreleme (%95) | DÃ¶ngÃ¼ler ve Otomasyon |

> **ðŸ’¡ Ä°pucu:** Analiz yaparken her zaman `.loc` tercih edin. SÃ¼tunlarÄ±n sÄ±rasÄ±nÄ±n deÄŸiÅŸmesi `.iloc`'u bozar ama `.loc`'u bozmaz.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    object
 1   month        244 non-null    object
 2   year         244 non-null    object
 3   Temperature  244 non-null    object
 4    RH          244 non-null    object
 5    Ws          244 non-null    object
 6   Rain         244 non-null    object
 7   FFMC         244 non-null    object
 8   DMC          244 non-null    object
 9   DC           244 non-null    object
 10  ISI          244 non-null    object
 11  BUI          244 non-null    object
 12  FWI          244 non-null    object
 13  Classes      244 non-null    object
 14  Region       244 non-null    float64
dtypes: float64(1), object(14)
memory usage: 28.7+ KB

In [18]:
df[["day","month","year","Tepmerature","RH","Ws"]]=df[["day","month","year","Tepmerature","RH","Ws"]].astype(int)

KeyError: "['Tepmerature', 'RH', 'Ws'] not in index"

In [33]:
df.columns=df.columns.str.strip()
# column isimlerinde boÅŸluklar vardÄ± onlarÄ± sildik strip() ile

In [34]:
df[["day","month","year","Temperature","RH","Ws"]]=df[["day","month","year","Temperature","RH","Ws"]].astype(int)

In [35]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0.0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0.0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0.0
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0.0

In [36]:
df["day"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [37]:
df[df["day"]== "day"]

Empty DataFrame
Columns: [day, month, year, Temperature, RH, Ws, Rain, FFMC, DMC, DC, ISI, BUI, FWI, Classes, Region]
Index: []

In [38]:
df.drop(index=122,inplace=True)

KeyError: '[122] not found in axis'

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(1), int64(6), object(8)
memory usage: 38.5+ KB

In [41]:
df[["Rain","FWI","BUI","ISI","DMC","FFMC","DC"]]=df[["Rain","FWI","BUI","ISI","DMC","FFMC","DC"  ]].astype(float)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(8), int64(6), object(1)
memory usage: 38.5+ KB

In [43]:
df["Classes"].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: count, dtype: int64

In [44]:
df["Classes"] =np.where(df["Classes"].str.contains("not fire"),0,1)

In [45]:
df["Classes"].value_counts()

Classes
1    137
0    106
Name: count, dtype: int64

In [46]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0.0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0.0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0.0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0.0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0.0

In [47]:
df.tail()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
239,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,1,1.0
240,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,0,1.0
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,1.0
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,1.0
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,1.0